<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="TravelYaari Automation">
  <test thread-count="2" name="CheckPrice">
    <classes>
      <class name="QAProject.TravelYaari.TestCases.FindBusWithMinPrice"/>
      <class name="QAProject.TravelYaari.TestCases.FindBusWithMaxPrice"/>
   <!--   <class name="QAProject.TravelYaari.TestCases.ChangeFromDateValidation"/> -->
    </classes>
  </test> <!-- CheckPrice -->
</suite> <!-- TravelYaari Automation -->
